body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Dark-Theme{
  color:pink;
  background-image: linear-gradient(black, rgba(12, 5, 10, 0.973));
  height:100vh;
}

.Light-Theme {
  color:rgb(82, 82, 160);
  background-image: linear-gradient(rgb(235, 254, 255),white);
  height: 100vh;
}